[Desktop Entry]
Name=Francis-opia
Comment=A cozy reading adventure where words have magical power
Exec=GAME_PATH
Type=Application
Categories=Game;
Terminal=false
